.errorPage {
    width: 100vw !important;
    background-color: #efefef;
    overflow: hidden;
    .container-fluid {
        background-color: #efefef;
        display: flex;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        .text {
            width: 50%;
            padding: 50px;
            margin-top: auto;
            margin-bottom: auto;
            h1 {
                span {
                    font-size: 70px;
                }
                color: $theme;
                font-size: 50px;
                font-weight: bolder;
            }
            p {
                width: 80%;
                font-size: 20px;
                color: $theme;
                flex-wrap: wrap;
                margin: 0 !important;
                padding: 0 !important;
            }
            .dropright {
                padding: 30px 0;
                .btn {
                    border-radius: 2px;
                    border: none;
                    outline: none;
                    background-color: $theme;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    -ms-border-radius: 2px;
                    -o-border-radius: 2px;
                    font-size: 14px;
                }
            }
        }
        .robot {
            padding: 0;
            width: 50%;
            img {
                padding-top: 60px;
                padding-right: 60px;
                justify-content: space-around !important;
            }
        }
    }
    .griid {
        background-color: lightgrey;
        width: 100%;
        color: rgb(44, 44, 44);
        margin: 10px;
        margin-right: auto !important;
        margin-left: auto !important;
        .items {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 80vw !important;
            li {
                justify-content: space-evenly;
                margin: 20px;
                color: rgb(44, 44, 44);
                i {
                    font-size: 30px;
                    padding-left: 50%;
                }
                h2 {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .item5,
            .item4,
            .item6 {
                padding-top: 20px;
            }
        }
    }
}