$theme: #0083c2;
.catch {
    visibility: hidden;
    position: absolute;
}

.nav {
    ul {
        .shop_comp {
            top: 64px;
            right: 223px;
            visibility: hidden;
            position: absolute;
            background-color: darken($color: $theme, $amount: 5);
            div {
                ul {
                    display: block;
                }
            }
        }
        .help_comp {
            line-height: 2;
            padding: 20px;
            font-weight: lighter !important;
            background-color: darken($color: $theme, $amount: 5);
            position: absolute;
            top: 64px;
            right: 77px;
            visibility: hidden;
            ul {
                width: 100%;
                display: block;
            }
        }
        .login_comp {
            visibility: hidden;
            position: absolute;
            top: 64px;
            padding: 0;
            right: 115px;
            margin: 0;
            background-color: darken($color: $theme, $amount: 5);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
            .card {
                text-align: left;
                outline: none;
                border: none;
                width: 50%;
                background-color: darken($color: $theme, $amount: 5);
                .card-body {
                    margin: 10px;
                }
                .cardInner {
                    border-left: 1px solid lighten($color: $theme, $amount: 7);
                }
                h6 {
                    padding-bottom: 0;
                }
                div {
                    .btn {
                        justify-content: space-around;
                        width: 90%;
                        border-radius: 1px;
                        outline: none;
                        border: none;
                        background-color: lighten($color: $theme, $amount: 5);
                    }
                }
            }
        }
    }
}

.menu1 {
    border-bottom: 2px solid darken($color: $theme, $amount: 8);
    border-left: 2px solid darken($color: $theme, $amount: 8);
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: darken($color: $theme, $amount: 5);
    width: 260px !important;
    .list {
        ul {
            margin-bottom: 0 !important;
            padding-bottom: 10px !important;
        }
    }
    .socials {
        background-color: $theme;
        margin: 0;
        padding: 0;
        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 15px;
                i {
                    font-size: 20px;
                }
            }
        }
    }
    ul {
        padding: 20px;
        list-style: none;
        line-height: 1.9;
        li {
            color: white;
            font-weight: bolder;
            &:hover {
                color: rgb(196, 196, 196);
            }
        }
    }
}