@media only screen and (max-width: 1000px) {
    body .cont {
        width: 65% !important;
        left: 20% !important;
    }
}

@media only screen and (max-width: 800px) {
    body .cont {
        width: 75% !important;
        left: 10% !important;
    }
}

@media only screen and (max-width: 600px) {
    body .cont .box .form_input {
        margin: 20px 0 !important;
    }
    body .cont {
        width: 90% !important;
        left: 5% !important;
    }
}

@media only screen and (max-width: 400px) {
    body .cont {
        width: 95% !important;
        left: 10px !important;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}